.app-container {
  display: flex;
  justify-content: center;
  margin: 48px;
}

.comments-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 550px;
}

.line {
  border: 1px solid #dee0e3;
  width: 100%;
  margin-top: 16px;
}

.comments-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.app-heading {
  font-family: 'Roboto';
  font-size: 48px;
  color: #1e293b;
  margin-bottom: 12px;
}

.form-description {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-top: 24px;
  color: #475569;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  order: 1;
}

.name-input {
  font-family: 'Roboto';
  font-size: 16px;
  height: 40px;
  border: 1px solid #cbd2d9;
  border-radius: 4px;
  margin-bottom: 12px;
  outline: none;
  padding: 8px 16px;
}

.comment-input {
  font-family: 'Roboto';
  font-size: 16px;
  border: 1px solid #cbd2d9;
  border-radius: 4px;
  padding: 8px 16px;
  outline: none;
}

.add-button {
  font-family: 'Roboto';
  font-size: 14px;
  color: #ffffff;
  background-color: #0284c7;
  border: none;
  outline: none;
  padding: 8px 16px;
  margin: 16px 0px;
  min-width: 60px;
  align-self: flex-start;
  border-radius: 4px;
  cursor: pointer;
}

.image {
  width: 280px;
  height: 200px;
}

.heading {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  margin-left: 8px;
  color: #475569;
}

.comments-count {
  font-family: 'Roboto';
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  background-color: #0284c7;
  border-radius: 4px;
  padding: 4px 8px;
  margin-right: 4px;
}

.comments-list {
  padding-left: 0;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .app-container {
    margin-top: 96px;
  }

  .comments-container {
    width: 80%;
    max-width: 1140px;
  }

  .comments-inputs {
    flex-direction: row;
  }

  .app-heading {
    font-size: 56px;
    margin-top: 0px;
    margin-bottom: 24px;
  }

  .form {
    width: 28%;
    min-width: 300px;
    order: 0;
  }

  .image {
    width: 380px;
    height: 300px;
  }
}
